
html, body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.bcground {
    box-shadow: 0px 50px 25px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 50px 25px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 50px 25px -1px rgba(0, 0, 0, 0.75);
}

.container{
    padding: 15px;
    height: 100%;
}
.nav_bar {
    margin-bottom: 5%;
    background-image: url("../img/bc_band.jpg");
}

.siteLogoName {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;;
}

.siteLogoName h1 {
    color: #fefb22;
    font-weight: bold;
}

.siteName {
    font-weight: bold;
    color: goldenrod;
}
.lien_btn_create{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 5%;
}

.button_create {
    color: black;
    padding: 10px 15px;
    background-color: #fffd00;
    border-radius: 5px;
    -webkit-transition: 0.5s;
}

.btn_delete{
    color: white;
    padding: 10px;
    background-color: red;
    border-radius: 5px;
    -webkit-transition: 0.5s;
}
.btn_delete:hover{
    background-color: crimson;
    -webkit-transition: 0.5s;
}

a.button_create:hover {
    background-color: #00ff22;
    -webkit-transition: 0.5s;
}

/********************************/

.card {
    background-color:#2f0033;
    color: #100021;
    padding-top: 20px;
    text-align: center;
    box-shadow: 1px 9px 15px 7px rgba(0,0,0,0.82);
    -webkit-box-shadow: 1px 9px 15px 7px rgba(0,0,0,0.82);
    -moz-box-shadow: 1px 9px 15px 7px rgba(0,0,0,0.82);
    -webkit-transition: 0.5s;
}
.card .monnaie_info{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.7) 100%);
    padding: 20px 20px;
    min-height: 250px;
}
.card .monnaie_info div{
    padding-top: 4px;
    text-align: justify;
}
.card .monnaie_info .monnaie_nom{
    font-size: 1.8em;
    font-family: Emoji, sans-serif;
    text-align: center;
}
.card:hover{
    background-color: #ff2af4;
    box-shadow: 1px 9px 22px 16px rgba(0,0,0,0.82);
    -webkit-box-shadow: 1px 9px 22px 16px rgba(0,0,0,0.82);
    -moz-box-shadow: 1px 9px 22px 16px rgba(0,0,0,0.82);
    -webkit-transition: 0.5s;
}
.card img{
    max-height: 200px;
    margin-bottom: 15px;
}

.cards {
    max-width: 1200px;
    margin: 5% auto 10% auto;
    display: grid;
    grid-gap: 20px;
}

/********************************/

a {
    text-decoration: none;
}

.formulaire{
    box-sizing : border-box;
    border-radius:5px;
    background-color:#f2f2f2;
    padding:20px;
    width: 100%;
    max-width: 440px;
    margin:0% auto 5% auto;
}
.formulaire h2 {
    color: #005f8d;
    text-align: center;
}

.formulaire div {
    margin: 20px;
}


.formulaire input[type=text], textarea, input[type=number] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-right: 0px;
    margin-left: 0px;
    resize: vertical;
}

.formulaire label {
    color: #140057;
    font-size: 1em;
    margin-left: 0;
    width: 100%;
}

.formulaire input[type = "file"] {
    border: none;
}

.formulaire a, .formulaire button {
    color: #000000;
    border-radius: 5px;
    -webkit-transition: 0.5s;
}

.formulaire a {
    background-color: #00fffe;
    padding: 10px;
}

.formulaire button {
    background-color: #efff00;
    border: none;
    padding: 13px;
    font-size: 1em;
}

.formulaire a:hover {
    background-color: #00c6c5;
}

.formulaire button:hover {
    background: #d0de01;
}

.formulaire .form_btns {
    margin-top: 50px;
    text-align: center;
}

footer {
    background: #004252;
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 0.8em;
    font-weight: lighter;
}
/********************* Messages d'alerte *************************/

.msg{
    padding: 20px;
    color: black;
    text-align: center;
    border-radius: 5px
}
.msg.success{
    background-color: #00ff22;
}

.msg.error{
    background-color: red;
}

/******************* Responsive *************************/

@media (min-width: 600px)  {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
    .cards { grid-template-columns: repeat(3, 1fr);
    }
}



